*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*background-color: #242424;*/
  --clr-white-primary: #fff;
  --clr-green-primary: #12372A;
  --clr-green-sec: hsla(159, 51%, 14%, 0.80);
  --clr-yelow-primary: #F1C30C;
  --clr-faintyelow-primary: #FAF8EC;
  --clr-faintyelow-sec: #F1FFEA;
  --clr-gray-background: #C4C4C4;
  --clr-gray-border: #ECECEC;
  
}

.test{
  width: 100px;
  height: 100px;
}

.NeedsUrbanFont{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.smallimg{
  max-width: 20px;
  margin-right: 8px;
}

.btn-area{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.NeedToBeYelowbtn{
  background-color: var(--clr-yelow-primary);
  color: var(--clr-green-primary);
}

.NeedToBeYelow{
  color: var(--clr-yelow-primary);
}

a{
  text-decoration: none;
  font-size: 16px;
}

a.whitelinks{
  color: var(--clr-white-primary);
  text-decoration: none;
  font-size: 16px;
}

a.greenlinks{
  color: var(--clr-green-primary);
  margin: 0 25px 0 25px;
  font-weight: 500;
}
    
a.greenlinks:hover{
  color: var(--clr-yelow-primary);
}

a.btn-area:hover{
  background-color: var(--clr-green-primary);
  color: var(--clr-white-primary);
}

.NeedsToBeDarkGreenbk{
  background-color: var(--clr-green-primary); 
}

.NeedsToBeDarkGreen{
  color: var(--clr-green-primary); 
}

.Markedtiles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 3px var(--clr-gray-border);
  border-radius: 10px;
  padding: 18px;
  color: var(--clr-green-primary);
  h5{
    margin-bottom: 5px;
  }
}

.Markedtiles:hover{
  border: solid 3px var(--clr-yelow-primary);
}

.Navbarcontainer{
  .Navbartop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 47px;
    padding: 0 18px 0 18px;
  }

  .phone-mail{
    display: flex;
    gap: 20px;
  }

  .imgcontainer{
    display: flex;
    height: 32px;
    gap: 18px;
  }

  .Navbarbottom{
    display: flex;
    align-items: center;
    height: 90px;

    .needrow{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px 0 10px;
    }

    .logo{
      height: 59px;
    }

    .btn-navbar{
      padding: 10px 25px 10px 25px;
    }
  }
}

.Hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 715px;
  gap: 10vw;
  background-color: var(--clr-green-sec);
  
  .Hero-btn{
    margin-top: 15px;
    width: fit-content;
    padding: 10px 25px 10px 25px;
  }

  .Hero-Textside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 735px;
    height: 353px;
    gap: 10px;
    margin-left: 200px;
  }

  .Hero-img{
    display: flex;
    margin-top: 181px;
    margin-right: 200px;
    height: 534px;
    width: 462px;
  }

  H4{
    font-size: 25px;
    color: var(--clr-yelow-primary);
  }
  
  H1{
    font-size: 80px;
    color: var(--clr-faintyelow-sec);
  }

  p{
    color: var(--clr-white-primary);
  }
}

.AboutUs-container{
  display: flex;
  justify-content: center;
  margin: 95px 0 95px 0;
  height: 550px;
  gap: 1.5vw;
  .AboutUsimgside{
    height: 549px;
    width: 673px;
    .aboutbigimg{
      height: 549px;
    }
  }

  .AboutUstextside{
    display: flex;
    flex-direction: column;
    width: 665px;
    height: 549px;
    H4{
      font-size: 25px;
    }
    H1{
      font-size: 50px;
    }

    .TileTitle{
      font-size: 24px;
    }

    p{
      font-size: 16px;
    }

    H5{
      font-size: 24px;

    }

    .tilesholder{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      gap: 10px;
      height: fit-content;
      width: fit-content;
    }

    .abouttiles{
      height: 156px;
      width: 321px;
    }

    .aboutinfo{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 43px;
      height: 50px;
      width: 100%;
    }

    .About-btn{
      height: 45px;
      width: 150px;
      margin-right: 88px;
    }
    
    .aboutimg{
      height: 60px;
      margin-right: 30px;
    }

    .info{
      display: flex;
      flex-direction: column;
    }

    .infolink{
      color: var(--clr-green-primary);
    }
  }
}

.Brands-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 148px;
  background-color: var(--clr-faintyelow-primary);
  gap: 57px;
  .brandimg{
    height: 71px;
  }
}