*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*background-color: #242424;*/
  --clr-white-primary: #fff;
  --clr-green-primary: #12372A;
  --clr-green-sec: hsla(159, 51%, 14%, 0.80);
  --clr-yelow-primary: #F1C30C;
  --clr-faintyelow-primary: #FAF8EC;
  --clr-faintyelow-sec: #F1FFEA;
  --clr-gray-background: #C4C4C4;
  --clr-gray-border: #ECECEC;
  
}

.test{
  width: 100px;
  height: 100px;
}

.NeedsUrbanFont{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.smallimg{
  max-width: 20px;
  margin-right: 8px;
}

.btn-area{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.NeedToBeYelowbtn{
  background-color: var(--clr-yelow-primary);
  color: var(--clr-green-primary);
}

.NeedToBeYelow{
  color: var(--clr-yelow-primary);
}

a{
  text-decoration: none;
  font-size: 16px;
}

a.whitelinks{
  color: var(--clr-white-primary);
  text-decoration: none;
  font-size: 16px;
}

a.greenlinks{
  color: var(--clr-green-primary);
  margin: 0 25px 0 25px;
  font-weight: 500;
}
    
a.greenlinks:hover{
  color: var(--clr-yelow-primary);
}

a.btn-area:hover{
  background-color: var(--clr-green-primary);
  color: var(--clr-white-primary);
}

.NeedsToBeDarkGreenbk{
  background-color: var(--clr-green-primary); 
}

.NeedsToBeDarkGreen{
  color: var(--clr-green-primary); 
}

.Markedtiles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 3px var(--clr-gray-border);
  border-radius: 10px;
  padding: 18px;
  color: var(--clr-green-primary);
  h5{
    margin-bottom: 5px;
  }
}

.Markedtiles:hover{
  border: solid 3px var(--clr-yelow-primary);
}

.Navbarcontainer{
  .Navbartop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 47px;
    padding: 0 18px 0 18px;
  }

  .phone-mail{
    display: flex;
    gap: 20px;
  }

  .imgcontainer{
    display: flex;
    height: 32px;
    gap: 18px;
  }

  .Navbarbottom{
    display: flex;
    align-items: center;
    height: 90px;

    .needrow{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px 0 10px;
    }

    .logo{
      height: 59px;
    }

    .btn-navbar{
      padding: 10px 25px 10px 25px;
    }
  }
}

.Hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 715px;
  gap: 10vw;
  background-color: var(--clr-green-sec);
  
  .Hero-btn{
    margin-top: 15px;
    width: fit-content;
    padding: 10px 25px 10px 25px;
  }

  .Hero-Textside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 735px;
    height: 353px;
    gap: 10px;
    margin-left: 200px;
  }

  .Hero-img{
    display: flex;
    margin-top: 181px;
    margin-right: 200px;
    height: 534px;
    width: 462px;
  }

  H4{
    font-size: 25px;
  }
  
  H1{
    font-size: 80px;
    color: var(--clr-faintyelow-sec);
  }

  p{
    color: var(--clr-white-primary);
  }
}

.AboutUs-container{
  display: flex;
  justify-content: center;
  margin: 95px 0 95px 0;
  height: 550px;
  gap: 1.5vw;
  .AboutUsimgside{
    height: 549px;
    width: 673px;
    .aboutbigimg{
      height: 549px;
    }
  }

  .AboutUstextside{
    display: flex;
    flex-direction: column;
    width: 665px;
    height: 549px;
    H4{
      font-size: 25px;
    }
    H1{
      font-size: 50px;
    }

    .TileTitle{
      font-size: 24px;
    }

    p{
      font-size: 16px;
    }

    H5{
      font-size: 24px;

    }

    .tilesholder{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      gap: 10px;
      height: fit-content;
      width: fit-content;
    }

    .abouttiles{
      height: 156px;
      width: 321px;
    }

    .aboutinfo{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 43px;
      height: 50px;
      width: 100%;
    }

    .About-btn{
      height: 45px;
      width: 150px;
      margin-right: 88px;
    }
    
    .aboutimg{
      height: 60px;
      margin-right: 30px;
    }

    .info{
      display: flex;
      flex-direction: column;
    }
  }
}

.Brands-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 148px;
  background-color: var(--clr-faintyelow-primary);
  gap: 57px;
  .brandimg{
    height: 71px;
  }
}

.Services-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 493px;
  margin-top: 95px;
  .Services-header{
    display: flex;
    align-items: center;
    width: 1404px;
    h4{
      font-size: 25px;
    }
  }

  .Services-topside{
    display: flex;
    flex-direction: row;
    width: 1404px;
    gap: 10px;
    margin-bottom: 28px;
    h3{
      font-size: 52px;
    }
    p{
      font-size: 16px;
    } 
  }

  .Services-bottomside{
    display: flex;
    .Service-img{
      height: 327px;
      width: 519px;
    }

    .servicesgap{
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .Service-tiles{
      height: 155px;
      width: 390px;
      margin-left: 32px;
      margin-right: 32px;
      h5{
        font-size: 24px;
      }
      p{
        font-size: 16px;
      }
    }
  }
}

.testimonials-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  height: 669px;
  background-color: var(--clr-green-primary);

  .testimonials-topside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 97px;
    margin-bottom: 32px;
    
    h4{
      font-size: 25px;
      margin-bottom: 16px;
    }

    h3{
      height: 44px;
      width: 774px;
      font-size: 52px;
      color: var(--clr-white-primary);
      margin-bottom: 26px;
    }

    p{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--clr-white-primary);
      height: 39px;
      width: 1068px;
    }
  }

  .testimonials-bottomside{
    display: flex;
    gap: 28px;
    margin-bottom: 86px;
    .testimonial-card{
      display: flex;
      flex-direction: column;
      height: 295px;
      width: 437px;
      background-color: var(--clr-white-primary);
      border-radius: 10px;
      padding: 25px;

      .stars{
        height: 22px;
        margin-top: 7px;
        margin-bottom: 36px;
      }

      .Userinfo{
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-top: 40px;

        .profile{
          height: 70px;
          width: 70px;
          border-radius: 50%;
          margin-right: 20px;
        }

        h6{
          font-size: 20px;
        }

        p{
          font-size: 14px;
          margin-right: 172px;
        }

        .Markimg{
          height: 38px;
        }
      }
    }
  }
}

.Choose-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  height: 788px;
  background-color: var(--clr-faintyelow-primary);
  .Choose-toptext{
    display: flex;
    flex-direction: column;
    h4{
      font-size: 25px;
      margin-bottom: 29px;
    }
    .topundertext{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 73px;

      h3{
        font-size: 52px;
        height: fit-content;
        width: 630px;
      }

      p{
        font-size: 16px;
        height: 61px;
        width: 667px;
      }
    }
  }
  
  .Choose-bottomside{
    display: flex;
    flex-direction: row;
    margin-top: 29px;
    gap: 59px;
    .Choose-textside{
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 626px;
      .Choose-textcontainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 626px;
        height: 86px;
        img{
          height: 83px;
          width: 83px;
          margin-right: 25px;
        }
        .textholder{
          h5{
            font-size: 24px;
          }
  
          p{
            font-size: 16px;
          }
        }
      }
    }
    
    .Choose-imgside{
      img{
        height: 424px;
      }
    }
  }
}

.Pricing{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  height: fit-content;
  width: 1365px;
  margin-top: 95px;
  margin-bottom: 95px;
  h4{
    font-size: 25px;
  }
  h3{
    height: fit-content;
    width: 563px;
    font-size: 52px;
  }
  .Cards{
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    gap: 26px;
    .Card-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--clr-faintyelow-sec);
      border: solid 3px var(--clr-gray-border);
      color: var(--clr-green-primary);
      width: 321px;
      height: fit-content;
      border-radius: 10px;
      padding: 27px;
      .card-toptext{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 248px;
        border-bottom: solid 2px var(--clr-green-primary);
        margin-bottom: 27px;

        h5{
          font-size: 24px;
          margin-bottom: 24px;
        }

        p{
          font-size: 16px;
          margin-top: 24px;
          margin-bottom: 24px;
        }

        .price{
          display: flex;
          flex-direction: row;
          justify-content: center;
          h3{
            color: var(--clr-yelow-primary);
            width: fit-content;
            font-size: 52px;
          }
          h6{
            margin-right: 15px;
            align-self: flex-end;
            font-size: 20px;
          }
          h6.NeedToBeYelow{
            align-self: baseline;
          }
        }
      }

      ul{
        display: flex;
        flex-direction: column;
        list-style-image: url("src/img/Smalmark.png");
        li{
          height: fit-content;
          font-size: 16px;
          margin-bottom: 12px;
        }
      }

      a{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-top: 12px;
        height: 45px;
        width: 124px;
      }
    }

    .Card-container:hover{
      background-color: var(--clr-green-primary);
      color: var(--clr-white-primary);
      .card-toptext{
        border-bottom: solid 2px var(--clr-white-primary);
      }
      ul{
        list-style-image: url("src/img/smalmarkyelow.png");
      }
      
    }
  }
}
