*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*background-color: #242424;*/
  --clr-white-primary: #fff;
  --clr-green-primary: #12372A;
  --clr-yelow-primary: #F1C30C;
  --clr-faintyelow-prim: #FAF8EC;
  --clr-faintyelow-sec: #F1FFEA;
  --clr-gray-background: #C4C4C4;
}

.test{
  width: 100px;
  height: 100px;
}

.NeedsUrbanFont{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.smallimg{
  max-width: 20px;
  margin-right: 8px;
}

.Navbarcontainer{

  .NeedsToBeDarkGreen{
    display: flex;
    align-items: center;
    background-color: var(--clr-green-primary);
    height: 47px;
    padding: 0 18px 0 18px;
    justify-content: space-between;
  }

  .phone-mail{
    display: flex;
    gap: 20px;
  }

  a.whitelinks{
    color: var(--clr-white-primary);
    text-decoration: none;
    font-size: 16px;
  }

  a{
    text-decoration: none;
    font-size: 16px;
  }

  .imgcontainer{
    display: flex;
    height: 32px;
    gap: 18px;
  }

  .imgneed30{
    display: flex;
    height: 30px;
    gap: 19px;
  }

  .NeedToBeWhite{
    display: flex;
    align-items: center;
    height: 90px;

    .needrow{
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 10px 0 10px;
      justify-content: space-between;
    }

    .logo{
      height: 59px;
    }

    .btn-area{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background-color: var(--clr-yelow-primary);
      color: var(--clr-green-primary);
      height: 45px;
      width: 129px;
    }

    a.greenlinks{
      color: var(--clr-green-primary);
      margin: 0 25px 0 25px;
      font-weight: 500;
    }
    
    a.greenlinks:hover{
      color: var(--clr-yelow-primary);
    }

    a.btn-area:hover{
      background-color: var(--clr-green-primary);
      color: var(--clr-white-primary);
    }
  }

}

